USE [master]
GO
/****** Object:  Database [Raul]    Script Date: 03/19/2021 11:48:35 ******/
CREATE DATABASE [Raul] ON  PRIMARY 
( NAME = N'Raul', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Raul.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Raul_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Raul_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Raul].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Raul]
GO
/****** Object:  User [WIN-KI8OOHJ0FVP\raul]    Script Date: 03/19/2021 11:48:35 ******/
CREATE USER [WIN-KI8OOHJ0FVP\raul] FOR LOGIN [WIN-KI8OOHJ0FVP\raul] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [raul2]    Script Date: 03/19/2021 11:48:35 ******/
CREATE USER [raul2] FOR LOGIN [raul2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [hpcdiat]    Script Date: 03/19/2021 11:48:36 ******/
CREATE SCHEMA [hpcdiat] AUTHORIZATION [dbo]
GO
/****** Object:  Table [hpcdiat].[USUARIO_DISPOSITIVO]    Script Date: 03/19/2021 11:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [hpcdiat].[USUARIO_DISPOSITIVO](
	[id_dispositivo_hpc] [int] NOT NULL,
	[id_user_hpc] [int] NOT NULL,
	[can_read] [char](1) NULL,
	[can_write] [char](1) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_USUARIO_DISPOSITIVO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [hpcdiat].[USUARIO_DISPOSITIVO] ON
INSERT [hpcdiat].[USUARIO_DISPOSITIVO] ([id_dispositivo_hpc], [id_user_hpc], [can_read], [can_write], [id]) VALUES (102, 1, N'S', N'S', 1)
INSERT [hpcdiat].[USUARIO_DISPOSITIVO] ([id_dispositivo_hpc], [id_user_hpc], [can_read], [can_write], [id]) VALUES (102, 4, N'S', N'S', 2)
INSERT [hpcdiat].[USUARIO_DISPOSITIVO] ([id_dispositivo_hpc], [id_user_hpc], [can_read], [can_write], [id]) VALUES (102, 5, N'S', N'S', 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [hpcdiat].[USUARIO_DISPOSITIVO] OFF
/****** Object:  Table [hpcdiat].[USUARIO]    Script Date: 03/19/2021 11:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [hpcdiat].[USUARIO](
	[id_user_hpc] [int] NOT NULL,
	[id_user_keycloak] [varchar](50) NOT NULL,
	[id_user_AD] [varchar](50) NOT NULL,
	[apellido] [varchar](100) NULL,
	[nombre] [varchar](100) NULL,
	[user_activo] [char](1) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id_user_hpc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [hpcdiat].[USUARIO] ([id_user_hpc], [id_user_keycloak], [id_user_AD], [apellido], [nombre], [user_activo]) VALUES (1, N'25a7b36f-55b4-41e6-b59d-0fbd316b21d9', N'dcastaño', N'castaño', N'diego', N'1')
INSERT [hpcdiat].[USUARIO] ([id_user_hpc], [id_user_keycloak], [id_user_AD], [apellido], [nombre], [user_activo]) VALUES (3, N'b27606c1-9246-4e71-978f-e73e0a712db2', N'tprueba', N'prueba', N'test', N'1')
INSERT [hpcdiat].[USUARIO] ([id_user_hpc], [id_user_keycloak], [id_user_AD], [apellido], [nombre], [user_activo]) VALUES (4, N'f5368077-48a9-4fa1-835c-6d94be82e71b', N'bnovakovic', N'Novakovic', N'Bogdan', N'1')
/****** Object:  Table [hpcdiat].[DISPOSITIVOS]    Script Date: 03/19/2021 11:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [hpcdiat].[DISPOSITIVOS](
	[id_dispositivo_hpc] [int] NOT NULL,
	[descripcion] [varchar](150) NULL,
	[id_dispositivo_pics] [int] NULL,
	[codigo_dispositivo] [smallint] NULL,
 CONSTRAINT [PK_DISPOSITIVOS] PRIMARY KEY CLUSTERED 
(
	[id_dispositivo_hpc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [hpcdiat].[DISPOSITIVOS] ([id_dispositivo_hpc], [descripcion], [id_dispositivo_pics], [codigo_dispositivo]) VALUES (102, N'AVELLANEDA', NULL, 1)
INSERT [hpcdiat].[DISPOSITIVOS] ([id_dispositivo_hpc], [descripcion], [id_dispositivo_pics], [codigo_dispositivo]) VALUES (103, N'BARRIO MITRE', NULL, 2)
INSERT [hpcdiat].[DISPOSITIVOS] ([id_dispositivo_hpc], [descripcion], [id_dispositivo_pics], [codigo_dispositivo]) VALUES (104, N'BERAZATEGUI', NULL, 3)
